server:
  port: ${SERVER_PORT:8082}

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  jackson:
    date-format: dd.MM.yyyy HH:mm
    time-zone: Europe/Moscow
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false

jwt:
  secret: ${JWT_SECRET:}

telegram:
  bot:
    token: ${TELEGRAM_BOT_TOKEN:}
    username: ${TELEGRAM_BOT_USERNAME:musoren_service_bot}
    webapp-url: ${TELEGRAM_BOT_WEBAPP_URL:https://musoren-front.vercel.app}
    skip-validation: ${TELEGRAM_SKIP_VALIDATION:false}

geocoder:
  yandex:
    api-key: ${YANDEX_GEOCODER_API_KEY:}
    url: "https://geocode-maps.yandex.ru/1.x/"
    timeout: 5000

sms:
  ru:
    api-id: ${SMS_RU_API_ID:}

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5433/musor_service}
    username: ${DB_USERNAME:musor_user}
    password: ${DB_PASSWORD:musor123}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  flyway:
    enabled: true
    validate-on-migrate: false
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL:}
    username: ${DB_USERNAME:}
    password: ${DB_PASSWORD:}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    enabled: true
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}

telegram:
  bot:
    token: ${TELEGRAM_BOT_TOKEN:}

sms:
  ru:
    api-id: ${SMS_RU_API_ID:}
